{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-12">
  <div class="col-span-12 sm:col-span-6 mt-4">
    <form method="POST" action="/save-section">
      {% csrf-field %}
      <div class="space-y-6 sm:space-y-5">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Add report section</h3>
        <div class="space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="report-description" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Description
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name="description" value="{{description}}" id="report-description" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">

              {% if errors.description %}
              <div class="text-xs text-red-600 mt-1">{{errors.description}}</div>
              {% endif %}
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="report-text" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Text
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <textarea rows="4" name="text" id="report-text" class="p-4 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">{{text}}</textarea>

              {% if errors.text %}
              <div class="text-xs text-red-600 mt-1">{{errors.text}}</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-end mt-2">
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add section</button>
      </div>
    </form>
  </div>

  <div class="col-span-12 sm:col-start-8 sm:col-span-5">
    <h3 class="text-lg leading-6 font-medium text-gray-900 mt-4">Report sections</h3>

    <ul role="list" class="divide-y divide-gray-200">
      {% for item in sections %}
      <li class="py-4">
        <div class="flex space-x-3">
          <div class="flex-1 space-y-1">
            <div class="flex items-center justify-between">
              <h3 class="text-sm font-medium">{{item.description}}</h3>

              <p class="text-sm text-gray-500">
                {{item.timestamp}}
              </p>
            </div>

            <p class="text-sm text-gray-500">
              {{item.text}}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
