{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-12">
  <div class="col-span-12 sm:col-span-6 mt-4">
    <form method="POST" action="/update-section">
      {% csrf-field %}
      <div class="space-y-6 sm:space-y-5">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Update report section {{section.id}}</h3>
        <div class="space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="report-description" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Description
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name="description" value="{{section.description}}" id="report-description" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">

              {% if errors.description %}
              <div class="text-xs text-red-600 mt-1">{{errors.description}}</div>
              {% endif %}
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="report-text" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Text
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <textarea rows="4" name="text" id="report-text" class="p-4 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">{{section.text}}</textarea>

              {% if errors.text %}
              <div class="text-xs text-red-600 mt-1">{{errors.text}}</div>
              {% endif %}
            </div>
          </div>
        </div>

        <input type="hidden" id="id" name="id" value="{{section.id}}">
      </div>

      <div class="w-full flex justify-end mt-2">
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Edit section</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
